div.xt_calendar{
background-image:url(/images/icons/cal.png);
background-repeat:no-repeat;
line-height: 100%;
width:45px;
height:41px;
float:left;
clear: both;
padding: 0;
}

.xt_calM
{
    clear: both;
	text-transform: uppercase;
	text-align : center;
	padding-top: 7px;
	font-size: 8px;
	color: white;
}

.xt_calDay
{
    padding-top: 5px;
    text-align: center;
	font-size: 12px;
	color: #978E8E;
	font-weight: bold;
}
