/* Forms */
.XTFoMdatepicker{
    margin-right:5px;
}

form {
    margin: 0;
    padding: 0;
}

div.formlabel{
    float:left;
    min-width:130px;
    width: auto !important;  /* for modern Browsers */
    width: 130px;  /*for IE */
}
div.formsublabel{
    float:left;
    min-width:130px;
    width: auto !important;  /* for modern Browsers */
    width: 130px;  /*for IE */
}

div.checkboxlabel{
    float:left;
}

div.checkbox{
    float:left;
    width:25px;
}


div.formelement{
    float:left;
    margin-right: 10px;
}

#search {
    float : right;
    color : white;
    margin : 20px;
    padding-right : 5px;
    margin-right : 10px;
}


#form_container input {
    margin-bottom: 6px;
    background-color: #DEDEDE;
    border: 1px solid #A0AEC0;
    padding:2px;
}

#form_container textarea {
    margin-bottom: 6px;
    background-color: #DEDEDE;
    border: 1px solid #A0AEC0;
    padding:2px;
}

#form_container select {
    background-color: #DEDEDE;
    border: 1px solid #A0AEC0;
    padding:2px;
    margin-bottom: 6px;
}

.form_separator {
    color : #000000;
    font-size : 12px;
    font-weight : bold;
    border-bottom : 2px solid #dddddd;
    padding-bottom : 5px;
    margin-bottom : 5px;
    clear : both;
}

#form_container .form_error {
    border: 1px solid #BC8482;
    background-color: #DDB2B0;
}

#form_container .required {
    color: red;
}

#error {
    border-width: 1px 2px 2px 1px;
    border-color:#000000;
    border-style: solid;
    padding: 4px;
    font-size: 14px;
    color: red;
    background-color:#FFFFFF;
}

.commenttxt{
   width:320px;
   height:140px;
}